{{> navbar }}

<div class="container">
    <div class="row">

        {{> home/realisation }}

        <p>Welcome {{ user.firstname }}</p>

        {{> home/card }}

        {{> home/progress }}

        {{> home/contact }}
    </div>
</div>

{{> footer}}