{{> navbar }}

<div class="container">
    <div class="row">
        {{> home/realisation }}

        {{> home/card }}

        {{> home/progress }}

        {{> home/contact }}
    </div>
</div>

{{> footer}}