{{> navbar }}

<div class="container">
    <div class="row">
        {{#each dbRralisations}}
        {{> home/realisation }}
        {{/each}}
        {{> home/card }}

        {{> home/progress }}

        {{> home/contact }}
    </div>
</div>

{{> footer}}