{{> navbar }}

<div class="container">
    <div class="row">

        {{> home/card }}

        {{> home/contact }}

        {{> home/progress }}

        {{> home/realisation }}

    </div>
</div>

{{> footer}}