<!-- Add Comment -->

<!-- Editeur wysiwyg -->
<section class="container mt-4">
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <h2>Ajouter un Commentaire</h2>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTextarea">Textarea</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
                required></textarea>
            <div class="invalid-feedback">
                Please enter a message in the textarea.
            </div>
        </div>
        <button class="btn btn-primary" style='width: auto; margin: auto;' type='submit'>Commenter</button>
    </div>
</section>
<!-- / Add Comment -->