{{!--
Partials: Liste Commentaire
--}}

<div class="container">
    <div class='row'>
        <ul class="list-unstyled">
            {{!-- Liste commentaire --}}

            {{#each realisationID.comment }}

            <li class="media">
                <img src="/assets/image/sass.png" class="mr-3" alt="...">
                <div class="media-body row">
                    <div class="col-md-10">
                        <h5 class="mt-0 mb-1">{{ author }}</h5>
                        <p> {{ content }} </p>
                    </div>
                    <div class="col-md-2">
                        {{#ifCond ../userId authorID }}
                        <form action="/comment/{{ _id }}?_method=DELETE" method='POST'>
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                        {{/ifCond }}
                        {{!-- <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#modalDeleteComment{{_id}}">
                            <i class="far fa-trash-alt"></i>
                        </button> --}}
                    </div>
                </div>
            </li>

            {{!--Import modalDeleteComment--}}
            {{!-- {{> modals/modalDeleteComment }} --}}

            {{/each }}

        </ul>
    </div>
</div>