{{!--
Partial headerID
--}}

<section>
    <div class="card" style="width : 100%; height : 100vh; text-align: center;">
        <img src="{{ realisationID.imgRealisation }}" style="height : 80%" class="card-img-top" alt="... ">
        <div style="height:20%" class="card-body">
            <h5 class="card-title "><strong> {{ realisationID.title }} </strong></h5>
            <p class="card-text ">Test</p>
        </div>
    </div>
</section>